*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      /* COLORS */
    --background:#3d0814;
    --background-rgb:61, 8, 20;
    --primary:#e7f9a9;
    --primary-rgb:231, 249, 169;
    --secondary:#8e8c7f;
    --secondary-text:142, 140, 127;
    --accent:#6e45e2;
    --accent-rgb:110, 69, 226;
    --text-dark:#2f2f2f;
    --text-dark-rgb:47, 47, 47;
    --secondary-text:#eef8eb;
    --secondary-text-rgb:238, 248, 235;
    --highlight: #c8ff4d;
    --highlight-rgb:200, 255, 77;

      /* GRADIENTS */
    --text-futuristic-1:linear-gradient(90deg, #8c52ff, #ff914d);
    --text-futuristic-2:radial-gradient(circle at 15% 15%, #7b2d9f, #fdd823);

      /* TYPOGRAPHY */
    --font-display: "League Spartan", sans-serif;
    --font-body: "Montserrat", sans-serif;
    --font-lore: "Space Grotesk", sans-serif;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.75rem;
    --text-2xl: 2.25rem;
    --text-3xl: 3rem;

      /* SPACING */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;

      /* RADIUS */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-full: 999px; /* pills/buttons */

      /* SHADOWS / GLOW */
    --shadow-soft: 0 0 8px rgba(255, 255, 255, 0.1);
    --shadow-hard: 0 0 18px rgba(0, 0, 0, 0.5);
    --glow-accent: 0 0 15px var(--accent);
    --glow-highlight: 0 0 12px var(--hightlight);

      /* MOTION */
    --ease: cubic-bezier(0.22, 1, 0.36, 1);
    --duration-fast: .15s;
    --duration-medium: .3s;
    --duration-slow: .6s;
    
}



/* semantic styling  */

body {
    font-family: var(--font-body);
    background: var(--background);
    color: var(--secondary-text);
    line-height: 1.6;
    overflow-x: hidden;

}

h1, h2, h3 {
    font-family: var(--font-display);
}

p {
    font-size: var(--text-base);
}





@media only screen and (min-width: 700px){

}